
.container {
min-height: 100vh;
max-width: 56rem;
padding: 2rem;
margin: auto;
font-family: sans-serif;
}
.linkCard{
    text-decoration: none;
    cursor: default;
}
.title{ 
font-size: 1.865rem;
font-weight: bold;
margin-bottom: 0.90rem;

}
.heading{
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 10px;
justify-content: space-between;
border-bottom: 1px solid rgb(197, 194, 194);
padding-bottom: 18px;

}
.searchpaper{
padding: 0.5rem;
border-radius: 18px;
width: 200px;
font-size: 1.3rem;
}
.cardList{
display: flex;
flex-direction: column;
gap:15;
}
.card{
padding: 1.5rem;
border: 1px solid #e5e7eb;
border-radius: 0.5rem;
}
.cardHeader{
display: flex;
justify-content: space-between;
margin-bottom: 8px;

}
.header{
color: black !important;     

}
.author{
    margin: 12px 0px;
 color: oklch(37.3% 0.034 259.733);
 
}
.sourceBadge{
background-color: #e5e7eb;
padding: 0.25rem 0.75rem ;
border-radius: 9999px;
font-size: 0.875rem;
color: #4b5563;
}
.abstact{
    color: oklch(37.3% 0.034 259.733);
    margin-top: 10px
}
.date{
     color: black !important;
     
}
.viewBtn{
    background: none;
    border: none;
    color: #2563eb;
    cursor: pointer;
    font-size: 0.895rem;
}

