
.container {
min-height: 100vh;
max-width: 56rem;
padding: 2.5em;
margin: auto;
font-family: sans-serif;
}

.card{
background: #ffff;
padding: 1.8rem;
border: 1px solid #e5e7eb;
border-radius: 10px;
box-shadow: 0 2px 6px rgba(0,0,0,0.05);
margin-top: 12px;
}
.backbutton{
    display: inline-block;
    color: #2563eb;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    border-radius: 12px;
}


.cardHeader{
    display: flex;
    align-items: center;
    gap: 8;
    margin-bottom: 16px;
}   
.sourceBadge{
background-color: #e5e7eb;
padding: 0.25rem 0.75rem ;
border-radius: 9999px;
font-size: 0.875rem;
color: #4b5563;
}
.date {
  font-size: 18px;
  color: #6b7280;
}
.title{
    font-size: 25px;
    margin-bottom: 12px;
    color:#111827;
    font-weight: bold;
}
.author{
    font-size: 18px;
    color: #6b7280;
    margin-bottom: 24px;
    padding-bottom:28px ;
    border-bottom: 1px solid  #e5e7eb;
}
.authorname{
    font-weight: 500;
    color: #1f2937;
}
.abstract{
    font-size: 20px;
    margin-bottom: 12px;
    color: #1f2937;
    font-weight: 600;
}
.abstractDetails{
    margin-bottom: 24px;
    line-height: 1.7;
    color: #374151;
}
.errorMess{
    min-height: 100vh;
    max-width: 56rem;
    padding: 3em;
    margin: auto;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.errorMess h1{
    color: #DC2626;  
}
.diabledButton{
    cursor: not-allowed;
    border-radius: 15px;
    padding: 3px 6px;
}
.link{
    border-radius: 12px;
    padding: 6px 10px;
    cursor: pointer;
    background: #2563eb;;
    color: #fff;
    text-decoration: none;
     transition: 300ms ease transform;
     display: inline-block;
}
.link:hover{
    background: oklch(48.8% 0.243 264.376);
}

.link:focus {
outline: 3px solid rgba(8, 39, 89, 0.15);
outline-offset: 2px;    
}
.link:active {
transform: translateY(16px) ;


}
@media screen and (max-width: 448px) {
.errorMess h1{
    text-align: center;
}
}
@media screen and (max-width: 436px) {
.link{
    font-size: 0.70rem;
}
}

