

.controls{
    display: flex;
    width: 100%;
     /* border-bottom: 2px solid rgb(214, 214, 214);  */
    padding-bottom: 20px;
}
.controls button{
    border-radius: 12px;
    border: none;
    transition: 300ms ease transform;
       padding: 10px;
    
}
.searchbox{
    border-radius: 20px;  
    width: 98%;
    transition:.3s;
    border: none;
      padding: 10px 15px;
}   

.skeleton{
    background: linear-gradient(
        90deg,
    #e5e7eb 25%,
    #f3f4f6 37%,
    #e5e7eb 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.4s infinite;
}
@keyframes shimmer {
    0%{
        background-position: 100% 0;
    }
    100%{
        background-position: -100% 0;
    }

}
.section1{
    height: 100px;
    border-bottom: 2px solid rgb(214, 214, 214);
    
}
.section2{
    height: 30px;
}
.card{
    margin-top: 10px;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;;
}